{% assign next_url = "" %}
{% assign next_title = "" %}
{% for label in site.ordered_collections %}
    {% if next_url == "" and site[label].first %}
        {% assign next_url = site[label].first.url %}
        {% assign next_title = site[label].first.title %}
    {% endif %}
{% endfor %}
<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                {%- include top-nav.html -%}

                <div class="body-inner">
                    {%- include body.html -%}

                    <a href="{{ site.baseurl }}/" class="navigation navigation-prev navigation-unique" aria-label="上一页">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    {% if next_url != "" %}
                        <a href="{{ site.baseurl }}{{ next_url }}" class="navigation navigation-next navigation-unique" aria-label="下一页：{{ next_title | escape }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>
